header{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 24px;
    justify-content: space-between;   /*para que el logo aparezca lado izq y el menu lado der*/
    background-color: rgb(76, 177, 236);
    width: 100%; 
}
header img{
    width: 100px;
}

header h1{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: flex-start;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
header ul li:hover{
    margin: 10px;
    font-size: larger;
    font-family: cursive;
    line-height: 20px;
    background-color:#20044d;
    color:rgb(185, 241, 29);
}

a:hover{
    text-decoration: none;
    
   }
h1{
    font-size: 26px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 50%;
    display: block;
    flex-direction: row;   
}

label {
    display: block;
    margin-bottom: 20px;
    margin: center;
    width: 50%;
}


#calendario{
    width: 80%;
    justify-content: center;
    list-style-position: outside;
  
}
.formulario1{
    width: 50%;
    justify-content: center;
    list-style-position: outside;
}
button{
    background-color: rgb(11, 112, 138);
    justify-content: center;
    width: 300px;
    height: 30px;
   
}
.video_ub{
    display: flex;
    justify-content: center;
}

footer h3{
    justify-content: right;
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .contactos img{
    width: 50px;
    justify-content: center;


}
.contactos{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(100, 100, 100);

}
.contactos a{
    color: white;
}
  
